appnope
click
decorator
Flask
Flask-SQLAlchemy
ipython
ipython-genutils
itsdangerous
Jinja2
MarkupSafe
parso
passlib
pexpect
pickleshare
prompt-toolkit
psycopg2
ptyprocess
Pygments
simplegeneric
six
SQLAlchemy
traitlets
wcwidth
Werkzeug
gunicorn