<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Clicc.</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

</head>
<body style="background: radial-gradient(#1abc9c, darkgreen);">
    
    <div class="header">
        <h2 class="display-2" style='text-align: center;'>Clicc.</h1>
    </div>

    <div class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('login') }}" class="active">Log in</a>
        <a href="{{ url_for('signup') }}">Sign up</a>
      </div>
  
    <br><br><br>

    <div class='row'>
        <h4 class="center-block display-4">Log in</h4>
    </div>

    <br>

    <div class='row'>
        <form method="POST" class="center-block">
            <div class='field'>
                <input class='input' type='text' name='username' placeholder="Username">
            </div>
            <div class='field'>
                <input class='input' type='password' name='password' placeholder="Password">
            </div>
            <br>
            <input type="submit" value="Log in">
        </form>        
    </div>

    <br><br><br><br><br><br>

    <div class='row'>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    
    <div class="footer">
        <h4>Created by Travis Tyler</h4>
        <p style="color:white"><a href='https://github.com/travis-tyler'>https://github.com/travis-tyler</a></p>
      </div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- <script src="./static/app.js"></script> -->

</body>
</html>


