<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Clicc.</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

</head>
<body style="background: radial-gradient(#1abc9c, darkgreen);">
    
    <div class="header">
        <h2 class="display-2" style='text-align: center;'>Clicc.</h1>
    </div>

    <div class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('profile') }}" class="active">My profile</a>
        <a href="{{ url_for('login') }}">Log out</a>
      </div>
  
    <br><br><br>

    <div class='row'>
        <div class='col-3'></div>
        <h4 class="display-4 col-5 center-block">{{ g.user.username }} has clicked</h4>
    </div>
    <div class='row'>
        <div class='col-3'></div>
        <h1 id="user_click_num" class="col-5 display-2 center-block"></h1>
    </div>
    <div class='row'>
        <div class='col-3'></div>
        <h4 class="display-4 col-5 center-block">times so far....</h4>
    </div>

    <br><br><br><br><br>
    
    <div class='row'>
        <form onsubmit="handleSubmit(event)" class="center-block">
            <input id="clickButton" class="btn btn-primary btn-lg" type="submit" value="Click.">
        </form>      
    </div>

    <br><br><br><br><br><br>

    <div class='row'>
        <div class='col-3'></div>
        <h4 class="display-4 col-5 center-block">There have been</h4>
    </div>
    <div class='row'>
      <div class='col-3'></div>
      <h1 id="total_click_num" class="col-5 display-3 center-block"></h1>
    </div>
    <div class='row'>
      <div class='col-3'></div>
      <h4 class="display-4 col-5 center-block">total clicks</h4>
    </div>

    <br><br>

    <div class='row'>
      <div class="col-1"></div>
      <table id="leaderboard" class="col-3 table table-striped center-block">
        <thead>
          <tr>
            <th class="table-head">Rank</th>
            <th class="table-head">Username</th>
            <th class="table-head">No. of clicks</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(0, 10) %}
          <tr>
            <td>{{ i+1 }}</td>
            <td>{{ leaderboard[i][0] }}</td>
            <td>{{ leaderboard[i][1] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class='row'>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    
    <div class="footer">
        <h4>Created by Travis Tyler</h4>
        <p style="color:white"><a href='https://github.com/travis-tyler'>https://github.com/travis-tyler</a></p>
      </div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="../static/js/app.js"></script>

</body>
</html>
