<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Click.</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #1abc9c;
      color: black;
      text-align: center;
    }
  </style>

</head>
<body style="background: radial-gradient(#1abc9c, darkgreen);">
    
    <div class="header">
        <h2 class="display-2" style='text-align: center;'>Click.</h1>
    </div>

    <br><br><br><br><br><br>

    <div class='row'>
        <h4 class="center-block display-4">Sign up!</h4>
    </div>

    <br>

    <div class='row'>
        <form method="POST" class="center-block">
            <div class='field'>
                <input class='input' type='text' name='username' placeholder="Username">
            </div>
            <div class='field'>
                <input class='input' type='password' name='password_1' placeholder="Password">
            </div>
            <div class='field'>
                <input class='input' type='password' name='password_2' placeholder="Re-enter password">
            </div>
            <br>
            <input type="submit" value="Log in">
        </form>        
    </div>

    <br><br><br><br><br><br>

    <div class='row'>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    
    <div class="footer">
        <h4>Created by Travis Tyler</h4>
        <p style="color:white"><a href='https://github.com/travis-tyler'>https://github.com/travis-tyler</a></p>
      </div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- <script src="./static/app.js"></script> -->

</body>
</html>